.displayContainer{
    width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #10244D 18.35%, #0896CD 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    /* z-index: 0; */
}

.show-blog {
  position: relative;
  top: 2%;
  height: calc(30vw); /* Adjust the height based on your needs */
  overflow: auto;
  padding: 0px 20px;
  border: 2px solid white;
}

.blogTitle{
  position: absolute;
  top: 0;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  width: 90vw;
  border: 2px solid red;
  left: 5%;
  color: wheat;
}

.blogImage{
  position: absolute;
  top: 11vw;
  border: 2px solid yellow;
  width: 40vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 40vw;
  height: 20vw;
}

.blogContent{
  position: absolute;
  top: 33vw;
  text-align: left;
  color: white;
}

/* .footerDisplay{
  position: absolute;
  bottom: -19%;
  width: 100vw;
} */

