@font-face{
        font-family: 'JetBrains Mono';
      src: url('src/assets/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    }

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}



.box{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        border-radius: 5px;
        background: white;
        border: 2px solid black;
        height: 40vw;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 2px 2px 2px 2px rgb(104, 101, 101);
}

#closeBtn{
        position: absolute;
        top: 2%;
        right: 1%;
        width:2vw;
}

.upload-file{
        text-align: center !important;
        font-size: 1.2rem;
        font-weight: 600;
        top: 0;
}

.uploadLabel{
        width: 21vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px dashed rgb(0, 157, 255);
        cursor: pointer;
        margin: 20px 0;
}

.uploadLabel span{
        font-size: 60px;
        color:rgb(0, 157, 255) ;
}

.uploadLabel p{
        font-size: 0.8rem;
        color:rgb(0, 157, 255) ;
        font-weight: 600;
        font-family: cursive;
}



.input-box{
        margin: 1vw 0;
}

#uploadButton{
        top: 90%;
        left: 38%;
        position: absolute;
        display: flex;
        width: 6vw;
        height: 3vw;
        align-items: center;
        justify-content: center;
}


#uploadButton button{
        background: rgb(0, 157, 255);
}

.selected{
       text-align: center;
}

.selected-files{
        color: black;
        font-size: 0.8rem;
}

.selected-files{
        height: 1vw;
}

.blog-title{
        top: 70%;
        position: absolute;
        left: 4%;
}

.blog-content{
        top: 35%;
        position: absolute;
        left: 4%;
        width: 80vw;
}

.blog-tags{
        top: 80%;
        position: absolute;
        left: 4%;
}

.blog-title ::placeholder{
        color:rgb(69, 65, 65);
        font-size: 1rem;
        padding-left: 2px;
}

.blog-tags ::placeholder{
        color: rgb(69, 65, 65);
        font-size: 1rem;
        padding-left: 2px;
}

.blog-title label,.blog-tags label,.blog-content label{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.3rem;
}

.blog-content label{
        top: 50%;
}

#title,#tags{
        margin-left: 10px;
        width: 19vw;
        height: 30px;
        font-size: 1rem;
}

@media (max-width:1405px){
        .box{
                height: 43vw;
        }
}

@media (max-width:1380px){
        .box{
                height: 45vw;
        }
}

@media (max-width:1289px){
        .box{
                width: 27vw;
                height: 47vw;
        }
}

@media (max-width:1222px){
        .box{
                height: 49vw;
        }
}

@media (max-width:1158px){
        .box{
                height: 51vw;
        }
}

@media (max-width:1100px){
        .box{
                width: 30vw;
                height: 52vw;
        }

        #title,#tags{
                width: 21vw;
        }
}

@media (max-width:1076px){
        .box{
                height: 54vw;
        }
}

@media (max-width:1030px){
        .box{
                height: 55vw;
        }
}

@media (max-width:1007px){
        .box{
                width: 32vw;
                height: 57vw;
        }
}

@media (max-width:960px){
        .box{
                height: 59vw;
        }

        #uploadButton{
                left: 40%;
        }
}

@media (max-width:925px){
        .box{
                width: 35vw;
                height: 63vw;
        }

        #closeBtn{
                width: 3vw;
        }

        .blog-tags{
                top: 83%;
        }
        .blog-title{
                top: 72%;
        }

        #uploadButton{
                top: 92%;
        }

        #title,#tags{
                width: 24vw;
        }
}

@media (max-width:890px){
        .box{
                width: 33vw;
                height: 65vw;
        }

        .uploadLabel{
                width: 24vw;
        }
}

@media (max-width:845px){
        .box{
                width: 35vw;
                height: 67vw;
        }

        .uploadLabel{
                width: 26vw;
        }
}

@media (max-width:821px){
        .box{
                width: 38vw;
                height: 69vw;
        }

        #uploadButton{
                left: 42%;
        }

        #title,#tags{
                width: 26vw;
        } 

}

@media (max-width:793px){
        .box{
                width: 40vw;
                height: 71vw;
        }

}

@media (max-width:760px){
        .box{
                width: 42vw;
                height: 73vw;
        }

        #title,#tags{
                width: 28vw;
        } 
}

@media (max-width:737px){
        .box{
                width: 42vw;
                height: 75vw;
        }

        .uploadLabel{
                width: 28vw;
        }
}

@media (max-width:711px){
        .box{
                width: 44vw;
                height: 77vw;
        }

        #title,#tags{
                width: 30vw;
        } 
}

@media (max-width:693px){
        .box{
                width: 46vw;
                height: 79vw;
        }
        .uploadLabel{
                width: 32vw;
        }
}

@media (max-width:668px){
        .box{
                width: 48vw;
                height: 81vw;
        }

        #uploadButton{
                left: 44%;
        }

        #closeBtn{
                width: 4vw;
        }
}

@media (max-width:653px){
        .box{
                width: 50vw;
                height: 83vw;
        }

        .uploadLabel{
                width: 34vw;
        }

        #title,#tags{
                width: 32vw;
        } 
}

@media (max-width:630px){
        .box{
                width: 52vw;
                height: 85vw;
        }

        .uploadLabel{
                width: 36vw;
        }
        #title,#tags{
                width: 34vw;
        } 
}

@media (max-width:611px){
        .box{
                width: 54vw;
                height: 87vw;
        }

        #title,#tags{
                width: 36vw;
        } 
}

@media (max-width:595px){
        .box{
                height: 89vw;
        }

        #uploadButton{
                top: 94%;
        }
}

@media (max-width:580px){
        .box{
                width: 56vw;
                height: 91vw;
        }

        .uploadLabel{
                width: 38vw;
        }
}

@media (max-width:567px){
        .box{
                width:58vw;
                height: 93vw;
        }
}

@media (max-width:550px){
        .box{
                width: 60vw;
                height: 95vw;
        }

        .uploadLabel{
                width: 40vw;
        }

        #title,#tags{
                width: 40vw;
        } 
}

@media (max-width:540px){
        .box{
                width: 63vw;
                height: 97vw;
        }
}

@media (max-width:530px){
        .box{
                width: 61vw;
                height: 99vw;
        }
}

@media (max-width:514px){
        .box{
                /* width: 67vw; */
                height: 101vw;
        }
}

@media (max-width:500px){
        .box{
                height: 107vw;
        }
}

@media (max-width:485px){
        .box{
                height: 109vw;
        }

        .selected-files{
                font-size: 0.7rem;
        }
}

@media (max-width:470px){
        .box{
                height: 111vw;
        }

        .blog-title label,.blog-tags label{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.1rem;
        }
}

@media (max-width:460px){
        .box{
                height: 113vw;
                left: 49%;
        }
        #closeBtn{
                width: 5vw;
        }

}

@media (max-width:450px){
        .box{
                height: 115vw;
        }

}

@media (max-width:440px){
        .box{
                height: 120vw;
        }

        .selected-files{
                font-size: 0.6rem;
        }
}

@media (max-width:430px){
        .box{
                height: 123vw;
        }
}

@media (max-width:420px){
        .box{
                height: 125vw;
                left: 46%;
        }

}

@media (max-width:400px){
        .box{
                height: 128vw;
        }

        #closeBtn{
                width: 6vw;
        }

        #title,#tags{
                height: 5vw;
        } 

}

@media (max-width:390px){
        .box{
                height: 130vw;
        }
       

}

@media (max-width:380px){
        .box{
                height: 133vw;
        }

}

@media (max-width:370px){
        .box{
                height: 137vw;
                left: 44%;
        }

         .uploadLabel{
               width: 42vw;
        }

        .selected-files{
                font-size: 0.5rem;
        }

}

@media (max-width:360px){
        .box{
                height: 141vw;
        }

}

@media (max-width:350px){
        .box{
                width: 67vw;
                height: 145vw;
                left: 50%;
        }

        .uploadLabel{
                width: 44vw;
        }

        #title,#tags{
                width: 43vw;
        } 
}

@media (max-width:346px){
        .box{
                width: 70vw;
                height: 150vw;
        }

}

@media (max-width:340px){
        .uploadLabel{
                width: 45vw;
        }

        #uploadButton{
                left: 46%;
        }

        #title,#tags{
                width: 45vw;
        } 
}

@media (max-width:334px){
        .box{
                width: 73vw;
                height: 160vw;
        }

        .uploadLabel{
                width: 46vw;
        }
}

@media (max-width:320px){
        .box{
                width: 73vw;
                height: 165vw;
                display: block;
        }

        .uploadLabel{
                width: 50vw;
        }

        #uploadButton{
                left: 47%;
        }
}

@media (max-width:314px){
        .box{
                height: 168vw;
        }
}

@media (max-width:306px){
        .box{
                height: 173vw;
        }

        .uploadLabel{
                width: 53vw;
        }
}

@media (max-width:290px){
        .box{
                width: 75vw;
                height: 188vw;
        }

        .uploadLabel{
                width: 47vw;
        }
}

@media (max-width:285px){
        .box{
                width: 79vw;
                height: 183vw;
        }

        .uploadLabel{
                width: 55vw;
        }

        #title,#tags{
                width: 48vw;
        } 
}


















/* REJECTED CSS */
.left h3{
        font-size: 18px;
        margin: 0;
}

.right span{
        background:rgb(0, 157, 255) ;
        color: white;
        width: 25px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
}



.filetype{
        background:rgb(0, 157, 255) ;
        padding: 5px 15px;
        text-transform: capitalize;
        font-size: 20px;
        color: white;
        font-weight: 700;
        border-radius: 3px;
}

.uploaded{
        margin: 30px 0;
        font-size: 16px;
        font-weight: 700;
        color: azure;
}

