.footerbody{
    background-image: url('./assets/gradient_back2.png');
    /* background-color: #262627; */
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: center; */
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); */
    /* background-size: 100% 50px;
    background-repeat: no-repeat; */
}

.footer_text{
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    flex-direction: column;
    flex-shrink: 0;
    color: #FBF2F2;
    text-shadow: 0px 0px 5px 0px #FDF7F7;
    font-family: 'JetBrains Mono', monospace;
}

.input_form{
    display: flex;
    margin-top: 1.7vw;
    align-items: center;
    align-content: center;
}

.input_form >p{
    display: inline-block;
    margin-right: 2vw;
    font-size: 1.5vw;
    flex-direction: column;
    flex-shrink: 0;
    color: #FBF2F2;
    text-shadow: 0px 0px 5px 0px #FDF7F7;
    font-family: 'JetBrains Mono', monospace;
}

.input_form >form{
    display: inline-block;
}

.input_form:hover input{
    box-shadow: 0 0 5px white;
    transform: scale(1.05);
    transition: box-shadow 0.4s, transform 0.4s
}

input {
    align-items: center;
    padding: 10px;
    width: 17vw;
    height: 5vw;
    background: transparent;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5vw;
    color: #e3e6e7;
    outline: none;
    transition: 0.5s;
}

.submit_button{
    display: inline-block;
    position: absolute;
    margin-top: 7px;
    margin-left: 2vw;
    height: 4vw;
    width: 4vw;
    border-radius: 1px;
    color: white;
    border: #e3e6e7;
}
.submit_button:hover {
    box-shadow: 0 0 5px white;
    transform: scale(1.05);
    transition: box-shadow 0.3s, transform 0.3s;
}
.github{
    height: 4vw;
    width: 4vw;
    border: 10px whitesmoke;
    color: white;
    transition: 0.3s;
}

.replr{
    align-self: center;
    font-size: 2.5vw;
    color: #FDF7F7;
}

/* .github_link{
    
} */

.github:hover{
    border-radius: 4vw;
    box-shadow: 0 0 5px white;
    transform: scale(1.05);
    transition: box-shadow 0.3s, transform 0.3s;
}

@media(max-width: 900px){
    .footer_text{
        font-size: 2.3vw;
    }
    .input_form> p{
        font-size: 2.3vw;
    }
}

