

.homeContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: blue;
    background-image: url('assets/Home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
}

.logo img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.logo-image:hover{
    border-radius: 50%;
    /* border:6px solid #333; */
    background: rgba(92, 91, 166, 0.719);
	box-shadow: 0px 0px 20px 0 rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    /* color: white; */
}

/* .wires{
    width: 500px;
    height: 360px;
} */

.wires-top{
   position: absolute;
   top: -25%;
   left: -2%;

} 

.wires-bottom{
    position: absolute;
    bottom: 0%;
    right: 0;
}

.text{
    color: #E0D8D8;
    text-shadow: 0px 0px 4px 0px rgba(250, 234, 234, 0.80);
    font-size: 1rem;
    font-family: 'Press Start 2P';
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: max-content;
}

.text p{
    color: white;
    padding-bottom: 22px;

}

@media (max-width:1230px){
    .logo img{
        top:35%;
    }
    .text{
        font-size: 0.9rem;
    }
    .wires-top img{
        width: 15vw;
        height: auto;
    }
    .wires-bottom img{
        width: 15vw;
        height: auto;
    }
}

@media (max-width: 1026px) {
    .wires-top img{
        width: 17vw;
        height: auto;
    }

    .wires-bottom img{
        width: 17vw;
        height: auto;
    }

    /* .homeContainer{
        width: 112vw;
        height: 113vh;
    } */

    .text{
        font-size: 1.7rem;
        font-family:monospace;
    }
    
  }

  @media (max-width:980px){
    .text{
        font-size:1.6rem;
    }
  }

  @media (max-width:920px){
    .logo img{
        top:30%;
    }

    .text{
        top:65%;
        font-size: 1.5rem;
    }
  }


  @media (max-width:832px){
    .wires-top img{
        width: 20vw;
        height: auto;
    }
  }

  @media (max-width:780px){
    .text{
        font-size: 1.4rem;
    }
    .wires-bottom img{
        width:20vw;
        height: auto;
    }

    .wires-top img{
        width: 23vw;
        height: auto;
    }
  }

  @media (max-width:675px){
    .wires-bottom img{
        width:22vw;
        height: auto;
    }

    .wires-top img{
        width: 25vw;
        height: auto;
    }
  }

  @media (max-width:655px){
    .text{
        font-size: 1.3rem;
    }

    /* .homeContainer{
        width: 120vw;
        height: 120vh;
    } */
  }

  @media (max-width:615px){
    .text{
        font-size: 1.2rem;
    }

  }

  @media (max-width:561px){
    .text{
        width: 100vw;
    }

    .wires-bottom img{
        width:24vw;
        height: auto;
    }

    .wires-top img{
        width: 26vw;
        height: auto;
    }

  }

  @media (max-width:551px){
    .logo img{
        width: 40vw;
        height: 40vw;
    }

    .wires-bottom img{
        width:26vw;
        height: auto;
    }

    .wires-top img{
        width: 28vw;
        height: auto;
    }
  }

  @media (max-width:445px){
    .wires-top img{
        width: 38vw;
        height: auto;
    }
  }

  @media (max-width:367px){
    .wires-top img{
        width: 36vw;
        height: auto;
    }

    .logo img{
        width: 45vw;
        height: 43vw;
    }
  }

  @media (max-width:337px){
    .wires-bottom img{
        width: 30vw;
        height: auto;
    }

    .wires-top img{
        width: 40vw;
        height: auto;
    }
  }

@media (max-width:306px){
    .wires-top img{
        width: 42vw;
        height: auto;
    }

    .text{
        top: 60%;
    }
}

@media (max-width:291px){
    .logo img{
        width: 47vw;
        height: 45vw;
    }
}

/*
  



@media (min-width:200px) and (max-width:414px) {
    .wires-top img{
        width: 10vw;
        height: auto;
    }

    .wires-bottom img{
        width: 10vw;
        height: auto;
    }
    
    .logo img{
        top:25%;
        width:60vw;
        height:60vw;
    }

    .text{
        top:70%;
    }

    .text p{
        line-height:normal;
    }
    .homeContainer{
        width: 112vw;
        height: 113vh;
    }

}

@media (min-width:414px) and (max-width:780px){
    .logo img{
        top:25%;
    }

    .text{
        top:60%;
    }
}

@media (max-width: 576px) {
    .wires-top img{
        width: 20vh;
        height: auto;
    }

    .wires-bottom img{
        width: 18vh;
        height: auto;
    }

    .logo{
        top:40%;
    }

    .homeContainer{
        width: 112vw;
        height: 113vh;
    }

  }


  

  

 
@media (min-width:579px) and (max-width:766px){
    .wires-top img{
        width: 23vh;
        height: auto;
    }
    .wires-bottom img{
        width: 23vh;
        height: auto;
    }
    .text{
        width: max-content;
        font-size: 1.2rem;
    }
}

@media (min-width:579px) and (max-width:700px){
    .text{
        font-size: 1rem;
    }
}

@media (min-width:577px) and (max-width:770px){
    
}
 */
