

.homeContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('assets/projects_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
}

.logo img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: floating ease 4s infinite;
}

.logo-image:hover{
    border-radius: 100%;
    background: rgba(92, 91, 166, 0.719);
	box-shadow: 0px 0px 20px 0 rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    color: #fbfbf9;
    box-shadow:0px 0px 30px #f9f9f6;
}

@keyframes floating {
    0%{
        transform: translate(-50%,-50%) ;
    }
     25%{
        transform: translate(-49%,-48%) ;
    }
    50%{
        transform: translate(-49%,-47%) ;
    }
    75%{
        transform: translate(-48%,-47%) ;
    }
}

.wires-top{
   position: absolute;
   top: -25%;
   left: -2%;
    animation: rotating 4s ease-in-out;

} 

.wires-bottom{
    position: absolute;
    bottom: 0%;
    right: 0;
}

@keyframes rotating{
    0%{
        transform: rotate(5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    
}

.text{
    color: #E0D8D8;
    text-shadow: 0px 0px 4px 0px rgba(250, 234, 234, 0.80);
    font-size: 1rem;
    font-family: 'Press Start 2P';
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: max-content;
}

.text p{
    color: white;
    padding-bottom: 22px;

}

@media (max-width:1230px){
    .logo img{
        top:35%;
    }
    .text{
        font-size: 0.9rem;
    }
    .wires-top img{
        width: 15vw;
        height: auto;
    }
    .wires-bottom img{
        width: 15vw;
        height: auto;
    }
}

@media (max-width: 1026px) {
    .wires-top img{
        width: 25vw;
    }

    .wires-bottom img{
        width: 17vw;
    }

    .text{
        font-size: 1.7rem;
        font-family:monospace;
    }
    
  }

  @media (max-width:980px){
    .text{
        font-size:1.6rem;
    }
  }

  @media (max-width:920px){
    .logo img{
        top:35%;
    }

    .text{
        top:65%;
        font-size: 1.5rem;
    }
  }


  @media (max-width:780px){
    .text{
        font-size: 1.4rem;
    }
    .wires-bottom img{
        width:20vw;
    }

  }

  @media (max-width:675px){
    .wires-bottom img{
        width:22vw;
    }

  }

  @media (max-width:655px){
    .text{
        font-size: 1.3rem;
    }
  }

  @media (max-width:615px){
    .text{
        font-size: 1.2rem;
    }

  }

  @media (max-width:561px){
    .text{
        width: 100vw;
    }

    .wires-bottom img{
        width:24vw;
    }

    .wires-top img{
        width: 26vw;
    }

  }

  @media (max-width:551px){
    .logo img{
        width: 40vw;
        height: 40vw;
    }

    .wires-bottom img{
        width:26vw;
    }

    .wires-top img{
        width: 28vw;
    }
  }

  @media (max-width:445px){
    .wires-top img{
        width: 38vw;
        left: -3%;
    }
    .wires-bottom img{
        width:30vw;
        height: auto;
    }
  }

  @media (max-width:367px){
    .wires-top img{
        width: 36vw;
    }

    .logo img{
        width: 45vw;
        height: 43vw;
    }
  }

  @media (max-width:337px){
    .wires-top img{
        width: 40vw;
    }
  }

@media (max-width:306px){
    .wires-top img{
        width: 42vw;
    }

    .text{
        top: 60%;
    }
}

@media (max-width:291px){
    .logo img{
        width: 47vw;
        height: 45vw;
    }
}


