.nav{
    margin: 0px 0px 0px 0px;
    position: relative;
    display: flex;
    padding-top: 5vw;
    padding-bottom: 15px;
}

.nav_title{
    display: flex;
    margin-left: 11vw ;
}

.nav_logo{
    height: 4vw;
    width: 4vw;
    display: inline-block;
}


/* .nav > p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-size: 2.3vw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
} */
.nav_buttons {
        display: flex;
        margin-left: 35vw;
        height: fit-content;
}

.hamburger {
    display: none;
}
.nav_buttons > a{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-size: 1.5vw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

.openlake{
    position: relative;
    margin-left: 10vw;
    margin-top: 0px;
    margin-left: 2vw;
    margin-bottom: 0px;
    display: inline-block;
    color: #FFF;
    text-shadow:0px 0px 10px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    font-size: 2.3vw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500
}

.openlake:hover{
    color: #fbfbf9;
    text-shadow:0px 0px 30px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.projects{
    position: relative;
    margin-right: 20px;
    color: #fbfbf9;
    text-shadow:0px 0px 10px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.projects:hover{
    color: #fbfbf9;
    text-shadow:0px 0px 30px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.blog{
    position: relative;
    margin-right: 20px;
    color: #fbfbf9;
    text-shadow:0px 0px 10px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.blog:hover{
    color: #fbfbf9;
    text-shadow:0px 0px 30px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.prog{
    position: relative;
    margin-right: 20px;
    color: #fbfbf9;
    text-shadow:0px 0px 10px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.prog:hover{
    color: #fbfbf9;
    text-shadow:0px 0px 30px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.community{
    position: relative;
    color: #fbfbf9;
    text-shadow:0px 0px 10px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.community:hover{
    color: #fbfbf9;
    text-shadow:0px 0px 30px #f9f9f6;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

/* media css */
@media (max-width: 600px) {
    /* Adjust font size for smaller screens */
    .openlake {
      font-size: 7vw;
    }
    .nav_logo{
        height: 9.5vw;
        width: 9.5vw;
        display: inline-block;
    }
  }
@media (min-width: 600px) {
    .openlake {
        font-size: 5vw;
    }
    .nav_logo{
        height: 7vw;
        width: 7vw;
        display: inline-block;
    }
}
@media (min-width: 900px) {
    .openlake {
        font-size: 2.3vw;
    }
    .nav_logo{
        height: 4vw;
        width: 4vw;
        display: inline-block;
    }
}
 /* burger menu media css */

@media (max-width: 900px) {
    .hamburger {
        display: flex;
        height: 5vw;
        width: 5vw;
        margin-left: 40vw;
    }
    .nav_buttons {
        display: none;
        margin-left: 35vw;
        height: fit-content;
    }
}

@media (max-width: 600px){
    .hamburger {
        display: flex;
        margin-left: 25vw;
        height: 8vw;
        width: 6.5vw;
    }
    .nav_buttons {
        display: none;
    }
}