.project-body{
    position: absolute;

    background: url("./assets/projects_bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

    border: 0px;
    margin: 0px;
    padding: 0px;  
    
    width: 100%;
    height: 100%;
}
/* Command Prompt */
.project-body > .project-cmd{
    position: absolute;
    top: 15%;
    left: 20%;
    color: white;
    text-shadow: 0px 0px 10px 0px rgba(253, 244, 244, 0.90);
    z-index: 1;

    color: #FBF2F2;
    text-shadow: 0px 0px 5px #FDF7F7;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* project-card */
.project-card{
    position: absolute;
    padding: 0%;
    top: 20vh;
    left: 35%;
    width: 56.7%;
    height: 64vh;
    flex-shrink: 0;

    border-radius: 15px;
    background: linear-gradient(0deg, rgba(21, 41, 81, 0.20) 0%, rgba(21, 41, 81, 0.20) 100%), linear-gradient(173deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 50px 40px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(25px);

    overflow: hidden;
}
.project-card-content{
    position: relative;
    top: -2.45vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 50%;
    height: 64vh;

    display: flex;
    flex-direction: column;
}
.project-card-title{
    margin-top:10%;

    text-align: center;
    text-shadow: 0px 0px 5px 0px rgba(253, 244, 244, 0.90);
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 800;
    line-height: 12.5px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: white;
    text-shadow: 0 0 3px white;
}
.project-card-para{

    margin: 10%;

    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button-group{
    position: relative;
    margin: auto;
    margin-bottom: 0%;
    padding: 0px;

    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project-card-btn, .project-details-btn{
    
    width: 11vw;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    font-size: 15px;
    text-align: center;
}
.project-details-btn{
    padding-left: 16%;
}
.project-card-img{
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
}
/* Line Menu */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.menu{
    position: absolute;
    top: 15%;
    left: 2.5%;
    height: 440px;
    transition: 0.1s;
}
.line{
    position: absolute;
    top: 110px;
    left:100px;
    background-color: white;
    height: 420px;
    width: 5px;
    flex-shrink: 0;
    z-index: 0;
}
.line-item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    white-space: nowrap;
    flex: 0 0 auto; 
    z-index: 10;
}
.line-item > .circle{
    position: absolute;
    top: 8px;
    left: -13.5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    z-index: 100;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.line-item > .circle > .inner-circle{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 3.5px;
    left: 3.4px;
    border-radius: 50%;
    background-color: #1F407EC9;
    z-index: 100;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}
.line-item>a{
    left:30px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: flex;
    flex-direction: column;
	text-align: center;
}
.line-item > .base{
	position: absolute;
	border-radius: 15px;
    background: linear-gradient(0deg, rgba(21, 41, 81, 0.20) 0%, rgba(21, 41, 81, 0.20) 100%), linear-gradient(173deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 50px 40px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(25px);
    z-index: 0;
    width: 177px;
    height: 53px;
    flex-shrink: 0;
	transition: all .5s ease 0s;
}
.item-holder{
	position: absolute;
    top:100px;
    left: 100px;

    height: 440px;
	width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.item-holder > .line-item > a{
    margin: 0px;
    padding: 0px;  
    text-align: left;
}

/* MOBILE RESPONSIVE DESIGN */
@media (max-width: 1100px){
    .menu{
        left: -2vw;
    }
    .project-body > .project-cmd{
        top: 12%;
    }
}
@media (max-width: 900px){
    .project-body{
        position: relative;
        justify-content: center;
        align-items: center;

        height: 100vh;
        width: 100vw;

        margin: 0px;
        padding: 0px;
        border: 0px;

        
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .project-body > .project-cmd{
        position: relative;
        text-align: left;
        left:10vw;
        top: 5%;
        font-size: 4vw;
        margin-bottom: 30px;
    }
    .menu{
        display: none;
    }
    .project-card{
        position: relative;
        margin: 0px;
        padding: 0px;
        border: 0px;
        top: 5%;
        left: 7.5vw;
        right: 10vw;
        margin-bottom: 30px;
        width: 80vw;
        height: 50vh;
    }
    .project-card-title{
        margin-top: 20%;
        font-size: 5vw;
        line-height: 100%;
    }
    .project-card-para{
        font-size: 2vw;
        line-height: 100%;
    }
    .button-group{
        margin-top: 0%;
        display: flex;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-group>a{
        all: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 5%;

        text-align: center;
    }
    .project-card-btn{
        margin: 0px;
        
        width: 80%;
        height: 100%;
        font-size: 12px;
    }
    .project-details-btn{
        margin: 0px;
        
        width: 80%;
        height: 100%;
        font-size: 15px;
    }
    .project-card-img{
        height: 100%;
    }
}

