.project-body{
    position: absolute;

    background: url("./assets/projects_bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

    border: 0px;
    margin: 0px;
    padding: 0px;  
    
    width: 100%;
    height: 100%;
}
.background{
    position: absolute;
    top: 0px;
    left: -26px;

    width: 1920px;
    height: 980px;

    z-index: 0;
}
/* Command Prompt */
.project-body > h1{
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
    text-shadow: 0px 0px 10px 0px rgba(253, 244, 244, 0.90);
    z-index: 10;

    color: #FBF2F2;
    text-shadow: 0px 0px 5px #FDF7F7;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* project-card */
.project-card{
    position: relative;
    top: 5%;
    left: 35%;
    width: 56.7%;
    height: 64%;
    flex-shrink: 0;

    border-radius: 15px;
    background: linear-gradient(0deg, rgba(21, 41, 81, 0.20) 0%, rgba(21, 41, 81, 0.20) 100%), linear-gradient(173deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 50px 40px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(25px);

    overflow: hidden;
}
.project-card>h3{
    display: flex;
    width: 50%;
    margin-top:2%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    text-align: center;
    text-shadow: 0px 0px 5px 0px rgba(253, 244, 244, 0.90);
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 800;
    line-height: 12.5px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: white;
    text-shadow: 0 0 3px white;
}
.project-card>p{
    position: absolute;
    width: 40%;
    top: 20%;
    left: 5%;
    color: #FFF;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: 21.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.project-card>button{
    all: unset; 
    position: absolute;
    top:85%;
    left: calc(25% - 147.5px);
    width: 18vw;
    height: 12%;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.project-card>button>a{
    align-self: center;
    color: #FFF;
    text-align: center;
    font-size: 1vw;
    font-style: normal;
    font-weight: 800;
    line-height: 12.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.project-card>img{
    position: absolute;
    top: 0px;
    left: 50%;
}
/* Line Menu */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.menu{
    position: absolute;
    top: 15%;
    left: 2.5%;
    height: 440px;
}
.line{
    position: absolute;
    top: 110px;
    left:100px;
    background-color: white;
    height: 420px;
    width: 5px;
    flex-shrink: 0;
    z-index: 10;
}
.line-item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    white-space: nowrap;
    flex: 0 0 auto; 
    z-index: 10;
}
.line-item > .circle{
    position: absolute;
    top: 8px;
    left: -13.5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.line-item > .inner-circle{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 3.7px;
    left: 3.8px;
    border-radius: 50%;
    background-color: #1F407EC9;
    z-index: 11;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}
.line-item>a{
    left:30px;
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
    flex-shrink: 0;
    
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: flex;
    flex-direction: column;
	text-align: center;
}
.line-item > .base{
	position: absolute;
	border-radius: 15px;
    background: linear-gradient(0deg, rgba(21, 41, 81, 0.20) 0%, rgba(21, 41, 81, 0.20) 100%), linear-gradient(173deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 50px 40px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(25px);
    z-index: 0;
    width: 177px;
    height: 53px;
    flex-shrink: 0;
	transition: all .5s ease 0s;
}
.item-holder{
	position: absolute;
    top:100px;
    left: 100px;

    height: 440px;
	width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.item-holder > .line-item > a{
    margin: 0px;
    padding: 0px;  
    text-align: left;
}
/* 
.item-holder .animation{
	position: absolute;
	border-radius: 15px;
    background: linear-gradient(0deg, rgba(21, 41, 81, 0.20) 0%, rgba(21, 41, 81, 0.20) 100%), linear-gradient(173deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 50px 40px rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(25px);
    z-index: 0;
    width: 177px;
    height: 53px;
    flex-shrink: 0;
}
.item-holder .line-item .link:active{
    color: white;
    text-shadow: 0px 0px 2px #FDF7F7;
}
.item-holder .line-item:nth-child(7){
    width: 100px;
}
@keyframes p1 {
    100%{
	left: -26px;
    transform: translateY(100%);
    }
}
.item-holder .start-home, .line-item:nth-child(7):active~.animation{

	width: 217px;
    animation: p1 0.3s ease-in;
} */
/* .item-holder .line-item :nth-child(2){
	width: 110px;
}
.item-holder .line-item:nth-child(2):active~.animation{
	width: 190px;
	left: -26px;
    top: 13.9%;
    animation-fill-mode: forwards;
}
.item-holder .line-item:nth-child(3){
	width: 100px;
}
.item-holder .line-item:nth-child(3):active~.animation{
	width: 230px;
	left: -26px;
    top: 29%;
}
.item-holder .line-item:nth-child(4){
	width: 160px;
}
.item-holder .line-item:nth-child(4):active~.animation{
    width: 160px;
    left: -26px;
    top: 43.5%;
}
.item-holder .line-item:nth-child(5){
	width: 120px;
}
.item-holder .line-item:nth-child(5):active~.animation{
	width: 265px;
    left: -26px;
    top: 58.242%;
}

.item-holder .line-item:nth-child(6){
	width: 120px;
}
.item-holder .line-item:nth-child(6):active~.animation{
	width: 200px;
    left: -26px;
    top: 72.828%;
}

.item-holder .line-item:nth-child(7){
	width: 120px;
}
.item-holder .line-item:nth-child(7):active~.animation{
	width: 150px;
    left: -26px;
    top: 87.7142857143%;
} */
